<!DOCTYPE html>
<html>
<head>
  <title>{{ .Title }}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous" />
  <style>
    body {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }

    .header {
      margin-bottom: 2rem;
    }

    .table {
      font-size: .8rem;
    }
  </style>
</head>
<body>
  <div class="container-fluid">
    <div class="header clearfix">
      <h3 class="text-muted">{{ .Title }}</h3>
    </div>

    <ul class="list-group list-group-flush">
      {{ range .Errors }}
        <li class="lit-group-item">{{ .Error }}</li>
      {{ end }}
    </ul>

    <table class="table table-hover table-responsive">
      <thead>
        <th>Repo Name</th>
        <th style="width: 14em">When</th>
        <th>Message</th>
      </thead>
      <tbody>
        {{- range .Messages -}}
          {{ $ghu := print "http://github.com/" (derefstr .Repo.Name) }}
          <tr>
            <td>{{ .Repo.Name }}</td>
            <td>{{ .CreatedAt | date_to_str }}</td>
            <td>
              {{ if eq (derefstr .Type) "PullRequestEvent" -}}
                Pull Request <a href="{{ $ghu }}/pull/{{ .Payload.PullRequest.Number }}">{{ .Payload.PullRequest.Title }}</a>
                {{ if eq (derefstr .Payload.Action) "closed" -}}
                  {{ if .Payload.PullRequest.Merged -}} merged {{- else -}} canceled {{- end }}
                {{- else -}}
                  {{ .Payload.Action }}
                {{- end }}
                {{ if eq (derefstr .Payload.Action) "opened" -}}
                  {{- markdown .Payload.PullRequest.Body -}}
                {{- end }}
              {{- else if eq (derefstr .Type) "PushEvent" -}}
                Pushed commit <a href="{{ $ghu }}/commit/{{ .Payload.SHA }}">{{- markdown .Payload.Message -}}</a>
              {{- else if eq (derefstr .Type) "IssuesEvent" -}}
                Issue <a href="{{ $ghu }}/issues/{{ .Payload.Issue.Number }}">{{ .Payload.Issue.Title }} ({{ .Payload.Issue.Number }})</a> {{ .Payload.Action }}
              {{- else if eq (derefstr .Type) "CreateEvent" -}}
                {{ if ne (derefstr .Payload.RefType) "repository" -}}
                    {{ .Payload.RefType | title }} <a href="{{ $ghu }}/tree/{{ .Payload.Ref }}">{{ .Payload.Ref }}</a> created
                {{- else -}}
                  {{ .Payload.RefType | title }} <a href="{{ $ghu }}/">{{ .Repo.Name }}</a> created
                {{- end }}
              {{- else if eq (derefstr .Type) "PullRequestReviewCommentEvent" -}}
                {{ .Payload.Action | title }} <a href="{{ .Payload.Comment.HTMLURL }}">comment</a>
                pull request <a href="{{ $ghu }}/pull/{{ .Payload.PullRequest.Number }}">{{ .Payload.PullRequest.Title }}</a> with:
                {{- markdown .Payload.Comment.Body -}}
              {{- else if eq (derefstr .Type) "IssueCommentEvent" -}}
                {{ .Payload.Action | title }} <a href="{{ .Payload.Comment.HTMLURL }}">comment</a>
                in issue <a href="{{ $ghu }}/issues/{{ .Payload.Issue.Number }}">{{ .Payload.Issue.Title }}</a> with:
                {{- markdown .Payload.Comment.Body -}}
              {{- else -}}
                {{- markdown .Message -}}
              {{- end }}
            </td>
          </tr>
        {{- end -}}
      </tbody>
    </table>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>
</html>
