
<html>
<head>
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.deep_purple-indigo.min.css" />
  <style>
    table td p {
      font-size: 13px;
    }
  </style>
</head>
<body>
<div class="mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
  <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--grey-100 mdl-color-text--grey-800">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">{{ .Title }}</span>
    </div>
  </header>
  <main class="mdl-layout__content">
    <ul class="mdl-list mdl-cell mdl-cell--12-col">
      {{ range .Errors }}
        <li class="mdl-list__item">{{ .Error }}</li>
      {{ end }}
    </ul>

    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-cell mdl-cell--12-col">
      <thead>
        <th class="mdl-data-table__cell--non-numeric">Event Name</th>
        <th class="mdl-data-table__cell--non-numeric">Type</th>
        <th class="mdl-data-table__cell--non-numeric">Repo Name</th>
        <th class="mdl-data-table__cell--non-numeric">Message</th>
      </thead>
      <tbody>
        {{ range .Messages }}
          <tr>
            {{ $ghu := print "http://github.com/" (derefstr .Repo.Name) }}
            <td class="mdl-data-table__cell--non-numeric"><p>{{ .EventName }}</p></td>
            <td class="mdl-data-table__cell--non-numeric"><p>{{ .Type }}</p></td>
            <td class="mdl-data-table__cell--non-numeric"><p>{{ .Repo.Name }}</p></td>
            <td class="mdl-data-table__cell--non-numeric message">
              <p>
                {{ if eq (derefstr .Type) "PullRequestEvent" }}
                Pull Request <a href="{{ $ghu }}/pull/{{ .Payload.PullRequest.Number }}">{{ .Payload.PullRequest.Title }}</a> {{ .Payload.Action }}
                {{ else if eq (derefstr .Type) "PushEvent" }}
                Pushed commit <a href="{{ $ghu }}/commit/{{ .Payload.SHA }}">{{ .Payload.Message | markdown }}</a>
                {{ else if eq (derefstr .Type) "IssuesEvent" }}
                Issue <a href="{{ $ghu }}/issues/{{ .Payload.Issue.Number }}">{{ .Payload.Issue.Title }} ({{ .Payload.Issue.Number }})</a> {{ .Payload.Action }}
                {{ else if eq (derefstr .Type) "PullRequestReviewCommentEvent" }}
                {{ .Payload.Action | title }} <a href="{{ .Payload.Comment.HTMLURL }}">comment</a>
                pull request <a href="{{ $ghu }}/issues/{{ .Payload.PullRequest.Number }}">{{ .Payload.PullRequest.Title }}</a> with:
                {{ .Payload.Comment.Body | markdown }}
                {{ else }}
                  {{ .Message | markdown }}
                {{ end }}
              </p>
            </td>
          </tr>
        {{ end }}
      </tbody>
    </table>
  </main>
</div>
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>
</html>
